{% extends 'blog/base.html' %}
{% block content %}
<h1> TRAVELIANDO - ¿Quienes somos? un equipo que busca armar tu viaje perfecto</h1>
<p> Generando un programa que ofrezca distintos
    hospedajes, medios de transporte, excursiones, y
    lugares para comer. Personalizado según sus
    gustos, para así brindarle opciones relacionadas a
    sus necesidades.
    
    Contará con una sección de busquedas de Actividades, en donde se
    organizará la información de las busquedas a través de un
    viaje ilustrado en un organigrama.</p>
{% endblock %}