{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="container py-5" style="background-color: #FEF6E7;">
    <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-start">
            <h1 class="mb-4" style="color: #2FCFC0;">Bienvenidos a TRAVELIANDO</h1>
            <p class="lead" style="color: #622BD9;">
                Un blog para armar tu viaje perfecto. Explorá nuestra web, podras agregar actividades, armar tu itinerario ideal y nosotros te enviaremos las propuestas que se adapten a tus gustos e intereses.
            </p>
        </div>
        <div class="col-md-6 text-center">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
            <img src="{% static 'images/traveliando-img.jpg' %}" alt="Imagen decorativa">
        </div>
    </div>
</div>
{% endblock %}


