{% extends 'blog/base.html' %}

{% block title %}Perfil de Usuario{% endblock %}

{% block content %}
<h2>Perfil de {{ perfil.usuario.username }}</h2>
<div>
    {% if perfil.imagen %}
        <img src="{{ perfil.imagen.url }}" alt="Foto de perfil">
    {% endif %}
    <p>Teléfono: {{ perfil.telefono }}</p>
    <p>Dirección: {{ perfil.direccion }}</p>
    <p>Fecha de nacimiento: {{ perfil.fecha_nacimiento }}</p>
    <a href="{% url 'editar_perfil' %}" class="btn btn-primary">Editar Perfil</a>
</div>

<h3>Tus Reservas</h3>
<!-- Aquí puedes mostrar las reservas relacionadas con Transportes, Alojamientos y Actividades -->
{% endblock %}